body{
    background-color: rgb(171, 212, 244);
    height: 100vh;
    width: 100vw;
}
.tl{
    border: solid;
    border-color: white;
    border-radius: 50px;
    width: 120px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: white;
}
.title{
    color: rgb(43, 164, 212);
    text-align: center;
}
#box3{
    background-color: rgba(97, 171, 228, 0.5);
    height: 60px;
    width: 180px;
    border-width: 3px;
    border: solid white 3px;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    text-align: center;
    color: white;
    align-self: center;
    margin: 50px;
}
#box4{
    background-color: rgba(99, 120, 241, 0.5);
    height: 60px;
    width: 170px;
    border-width: 3px;
    border: solid white 3px;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    text-align: center;
    color: white;
    align-self: center;
    margin: 50px;
}
#box5{
    background-color: rgba(26, 117, 245, 0.5);
    height: 60px;
    width: 170px;
    border-width: 3px;
    border: solid white 3px;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    text-align: center;
    color: white;
    align-tracks: center;
    margin: 50px;
}